body{
    background: #0c192c;
    
}

.introtext{
    color: white;
    font-family: 'Roboto Mono',monospace;
    font-size: x-large;
    
}

.introtext_box{
    text-align: center;
    margin-top: 60px;
}


.register_box{
       
    display: flex;
    justify-content: center;
    position: relative;  
    
}

.register_box_text{
    margin-top: 30px;
    text-align: center;
    color: white;
    
    height: 400px;
    width: 300px;
    
    border-color: #ff2d75;
    border-style: solid;
    border-width: 1.5px;
    border-radius: 18px;
    box-shadow: 0 0 0 1.2px #ff2d75;

    font-family: 'Roboto Mono', monospace;

    padding-top: 40px;
    position: absolute;

}

.register_input_firstname,
.register_input_lastname,
.register_input_username,
.register_input_password
{
    font-family: 'Roboto Mono',monospace;
    
    margin-top: 25px;
    text-align: center;
    border-width: 2px;
    border-color: #ff2d75;
    border-radius: 6px;
    box-shadow: 0 0 0 1.2px #ff2d75;
    background-color: #193b6e;
    color: white;
    
}

.register_input_firstname:hover,
.register_input_lastname:hover,
.register_input_username:hover,
.register_input_password:hover{
    border-color: #4fc3dc;
    box-shadow: 0 0 0 1.2px #4fc3dc;
    
}

.signup_button{
    margin-top: 55px;
    
}

::placeholder{
    color: rgba(255, 255, 255, 0.507);
}