body{
    background: #0c192c;
}

.search_welcome_box{
    text-align: center;
    margin-top: 60px;
    position: relative;
    
}

.search_welcome_text{
    color: white;
    font-family: 'Roboto Mono',monospace;
    font-size: xx-large;
}

.search_box{
    text-align: center;
    margin-top: 80px;
}

.search_text{
    color: white;
    font-family: 'Roboto Mono',monospace;
    font-size: medium;
    position: relative;
}

.search_input_box{
    text-align: center;
    margin-top: 100px;
    position: relative;
}

.search_input{
    width: 550px;
    height: 40px;
    text-align: center;
    
    background-color: #0b131f;
    border-color: #ff2d75;
    border-width: 1px;
    border-radius: 8px;
    box-shadow: 0 0 0 1.6px #ff2d7544;

    color: white;
    font-family: 'Roboto Mono',monospace;
    outline: 0;

    font-size: medium;
    
}

.search_input:focus{
    border-color: #4fc3dc;
    box-shadow: 0 0 0 1.6px #4fc3dc44;
}

.search_action_box{
    
    
}

.search_action_button{
    font-family: 'Roboto Mono',monospace;
    width: 80px;
    height: 35px;
    
    margin-top: 25px;

    background-color: #0b131f;
    border-color: #ff2d75;
    border-radius: 20px;
    border-width: 1px;
    box-shadow: 0 0 0 1.6px #ff2d7544;

    color: white;

    font-size: medium;

}

.search_action_button:hover{
    box-shadow: 0 0 0 1.6px #4fc3dc44;
    border-color: #4fc3dc;
}

.logout_menu{
    text-align: center;
    margin-top: 175px;
}

.logout_text{
    color: white;
    font-family: 'Roboto Mono',monospace;
    font-size: large;
}   

.logout_text:hover{
    color: #4fc3dc;
    text-shadow: 0 0 0 3px #4fc3dc44;
    
}